@page
@model WebApplicationExample.Pages.Product.AllModel
@{
}
<h2>All Products</h2>

<a asp-page="Create" class="btn-success mb-2 px-2 py-1 rounded-md">Create New Product</a>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Rating</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.ProductViewModels)
        {
            <tr>
                <td>@product.Id</td>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Rating</td>
                <td>
                    <a asp-page="Update" asp-route-id="@product.Id">Edit</a> |
                    <a asp-page="Delete" asp-route-id="@product.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
